.checkout-container {
  max-width: 650px;
  margin: auto;
  padding: 30px;
}

.checkout-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  margin-top: 20px;
  background-color: #ffb07c;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
}

.btn:disabled {
  opacity: 0.5;
}
