.payment-option {
  border: 2px solid #000;
  border-radius: 12px;
  cursor: pointer;
}

.payment-option.active {
  border-color: #e6002d;
}

.payment-header img {
  height: 28px;
  margin-left: 6px;
}

.payment-body {
  background: #fafafa;
  border-top: 1px solid #ddd;
}

.summary-card {
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 20px;
}

.qr-img {
  width: 150px;
  margin-top: 10px;
}

.btn-pago-finalizar {
  background-color: #0a64a0;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.6rem 1.5rem;
  transition: all 0.3s ease;
}

.btn-pago-finalizar:hover {
  background-color: #084b7a;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(10, 100, 160, 0.3);
}